<ion-header>
    <ion-toolbar>
        <ion-title>
            Variação
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list-header color="light">Cotação Bovespa</ion-list-header>
    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-card-subtitle>Variação nos últimos 10 dias</ion-card-subtitle>
            <ion-card-title *ngIf="investimento">{{investimento.papel}}</ion-card-title>
            <ion-card-title *ngIf="dados && !investimento">{{dados.papel}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <canvas #barChart></canvas>
        </ion-card-content>
    </ion-card>

    <div *ngIf="investimento && dados" class="ion-text-center">
        <ion-row>
            <ion-col size="6">
                <ion-card button>
                    <ion-card-header>
                        <ion-card-subtitle>Cotação de<br>Compra:</ion-card-subtitle>
                        <ion-card-title>{{investimento.valorCompra | currency:'BRL':true:'1.2-2'}}</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card button>
                    <ion-card-header>
                        <ion-card-subtitle>Última<br>Cotação:</ion-card-subtitle>
                        <ion-card-title>{{dados.ultima | currency:'BRL':true:'1.2-2'}}</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card button>
                    <ion-card-header>
                        <ion-card-subtitle>Perda / Lucro</ion-card-subtitle>
                        <ion-card-title>{{dados.variacao | currency:'BRL':true:'1.2-2'}}</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card button>
                    <ion-card-header>
                        <ion-card-subtitle>% de Peda/Lucro</ion-card-subtitle>
                        <ion-card-title *ngIf="dados.percentagem">{{dados.percentagem.toFixed(2)}}%</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="6">
                <ion-card button>
                    <ion-card-header>
                        <ion-card-subtitle>Liquido Total:</ion-card-subtitle>
                        <ion-card-title>{{dados.liquido | currency:'BRL':true:'1.2-2'}}</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card button>
                    <ion-card-header>
                        <ion-card-subtitle>Inclinação:</ion-card-subtitle>
                        <ion-card-title *ngIf="dados.inclinacao">{{dados.inclinacao.toFixed(2)}}%</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="6">
                <ion-card button>
                    <ion-card-header>
                        <ion-card-subtitle>Gasto Total:</ion-card-subtitle>
                        <ion-card-title>{{dados.gastoTotal | currency:'BRL':true:'1.2-2'}}</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card button>
                    <ion-card-header>
                        <ion-card-subtitle>Valor Total:</ion-card-subtitle>
                        <ion-card-title>{{dados.valorTotal | currency:'BRL':true:'1.2-2'}}</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="6">
                <ion-card button>
                    <ion-card-header>
                        <ion-card-subtitle>Maior Cotação<br>({{valores.length}} Dias)</ion-card-subtitle>
                        <ion-card-title>{{dados.maior | currency:'BRL':true:'1.2-2'}}</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card button>
                    <ion-card-header>
                        <ion-card-subtitle>Menor Cotação<br>({{valores.length}} Dias)</ion-card-subtitle>
                        <ion-card-title>{{dados.menor | currency:'BRL':true:'1.2-2'}}</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card button>
                    <ion-card-header>
                        <ion-card-subtitle>Valor Médio<br>({{valores.length}} Dias)</ion-card-subtitle>
                        <ion-card-title>{{dados.media | currency:'BRL':true:'1.2-2'}}</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
            <ion-col size="6">
                <ion-card button>
                    <ion-card-header>
                        <ion-card-subtitle>Data da Compra <br></ion-card-subtitle>
                        <ion-card-title>{{investimento.dataCompra}}</ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
    </div>

    <ion-button color="danger" expand="block" (click)="deletar(investimento.id)">Deletar</ion-button>
</ion-content>
