.card-header {
  padding: 5px !important;
}

i{
  color: #ebebe5 !important;
}

ion-card-title{
  color: #ebebe5 !important;
  font-weight: bold !important;
}

ion-card-subtitle{
  color: #FFFFFF !important;
}

ion-list-header{
  background-color: #17191d;
}

ion-card{
  background-color: #19191c;
}
