<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="tab1" selected="true">
            <ion-icon name="wallet"></ion-icon>
            <ion-label color="light">Carteira</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <ion-icon name="cash"></ion-icon>
            <ion-label color="light">Proventos</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab3">
            <ion-icon name="star"></ion-icon>
            <ion-label color="light">Favoritos</ion-label>
        </ion-tab-button>


    </ion-tab-bar>

</ion-tabs>
