<ion-header>
    <ion-toolbar>
        <ion-icon color="black" slot="icon-only" name="wallet"></ion-icon>
        <ion-title>
            Portfólio
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item button *ngFor="let investimento of investimentos" (click)="variante(investimento.id)">
            <ion-label>
                <h1>{{investimento.papel}}</h1>
                <h2>{{investimento.valorCompra | currency:'BRL':true:'1.2-2'}}</h2>
            </ion-label>
            <ion-label class="ion-text-end">
                <h2>{{investimento.dataCompra}}</h2>
                <h2>Quantidade: {{investimento.quantidade}}</h2>
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label class="ion-text-center">
                <h2 *ngIf="investimentoTotal">Total investido: {{investimentoTotal | currency:'BRL':true:'1.2-2'}}</h2>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" edge slot="fixed" (click)="presentModal()">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
